.account {
  display: flex;
  height: 100vh;
  align-items: start;
  justify-content: center;
  margin-bottom: 20px;
}

.account .container {
  padding: 40px 0px;
}

.account .mainheading {
  font-size: larger;
  font-weight: 600;
}