.home {
  width: 100%;
  padding: 20px 0;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.col-lg-5, .col-lg-7 {
  display: flex;
  flex-direction: column;
}